/* html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 0;
    overflow: hidden; 
    display: block;  
  } */
/* 
  canvas { 
    height: 50vh; 
    width: 50vw; 
    display: block;
  } */
#canvas{
  border: solid 1px blue;  
  width: 100%;
}
.filtres{
  border: solid 1px blue;  
  width: 100px;
  height: 100px;
}
.container{
  display:inline-flex;
  flex-wrap:wrap;
  border:1px solid red;
}
.flex-direction{
  flex-direction:row;
}
.flex-action{
  flex-direction:column;
}
.div1{
  display:inline-flex;
  flex-wrap:wrap;
  border:1px solid green;
  background-color:#727272;
  /* width:165px; */
  /* height:132px; */
  /* height:132px; */
}

.div2{
  background-color:#fff;
  border:1px solid purple;
  /* width:314px; */
  /* height:132px; */
}

span{
  font-size:16px;
    font-weight:bold;
    display: block;
    line-height: 132px;
    text-align: center;
}

@media screen and (max-width: 600px) {
  .flex-direction{
  flex-direction:column;
  }
  .flex-action{
    flex-direction:row;
  }
.div1{
  /* width:202px; */
  /* height:131px; */
  border-right:none;
  border-bottom:1px solid black;
  }
  .div2{
    /* width:202px; */
    /* height:107px; */
  }
  .div2 span{
    /* line-height:107px; */
  }

}